<!DOCTYPE html>
<html>
  <head>
    <title>A Creation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  



  <body>
  <header>
    <div class="navbar">
      <li>
        <a href="/" class="nav-link">HOME</a>
        <a href="/projects" class="nav-link">PROJECTS</a>
        <a href="/about" class="nav-link">ABOUT US</a>
        <a href="" ></a>
      </li>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
